<% if !current_user %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>saf pqjf a [f q pfj ooq ]</p>
    <p><%= link_to "Sign up to Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie %>
      </div>
    </div>
  <% end %>
</div>
